.menu-button {
    position: absolute;
    top: 3em;
    left: 3em;
    background: transparent;
    border: 0;
}


nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    z-index: 10;

    transform: translateX(-100%);
    transition: transform ease-out 250ms;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        align-items: strech;
        background: $accent;
    }

    li {
        border-bottom: 1px solid $dark-blue;
        text-align: center;

        &:not(:last-of-type) {
            border-bottom: 1px solid $dark-blue;
        }
        
        &:hover,
        &:focus {
            background: rgba($dark-blue, 0.5);
        }
    }

    a {
        display: inline-block;
        @include sans-serif($fs: 4rem, $color: $dark-blue);
        text-decoration: none;
        padding: calc(100vh/8) 0;
        line-height: 0;
        width: 100%;
    }
}

.close-icon {
    display: none;
}

.nav-is-open {
    height: 100vh;
    overflow-y: hidden;

    nav {
        transform: translateX(0);
    }

    .container-all {
        transform: translateX(80%)
    }

    .close-icon {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .menu-button {
        transform: translateX(-70%);
    }
}

// .container-all {
//     transition: transform ease-out 250ms;
// }